@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

:root {
    --main-color: #a1d1b8;
    --sub-color: #208666;
    --dark-color: #206d66;
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Single Day", Arial, Helvetica, sans-serif;
}

/* hide scrollbar but allow scrolling */
html {
    height: 100%;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
  
html::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

/* 화면 기본 설정 */
body {
    height: 100%;
}
.container {
    height: 100%;
    background-color: var(--main-color)
}

/* 스크린 크기 조정 */
.chat-screen {
    height: calc(100% - 120px);
}

/* 유저 정보 표시되는 부분 */
.user{
    background-color: white;
    padding: 16px;
    height: 80px;
}
.user__column {
    float: left;
}
.user__pic {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 15px;
    background-color: var(--sub-color);
}
.user__nick, .user__count {
    margin: 5px;
}
.user__count {
    font-size: 12px;
    color: gray;
}
/* 채팅 뷰어 설정 */
.chat-screen__view {
    height: calc(100% - 80px);
    overflow-y: scroll;
}


/* 채팅 입력 창 */
.chat-form {
    height: 120px;
    background-color: var(--sub-color);
}

.chat-form__field {
    height: 120px;
    border-top: 1px solid var(--sub-color);
}

.chat-form__msg {
    float: left;
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    font-size: 24px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}
.chat-form__bt {
    float: right;
    width: 120px;
    height: 120px;
    border: 0;
    background-color: var(--main-color);
    font-size: 18px;
}

.chat-form__msg:focus {
    outline: none;
}

.chat-form__bt:active {
    background-color: var(--sub-color);
}