:root {
  --primaryColor: #BCA88E;
  --secondaryColor: #9DA993;
  --mainWhite: #ffffff;
  --mainBlack: #222;
  --mainRed: #c45151;
  --mainGreen: #4caf50;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondaryColor);
  color: var(--mainBlack);
}

h1 {
  margin: 1rem 0;
}