<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1>It is a layout</h1>
    <!-- 상단에 메뉴 바로가기 링크 -->
    <div>
        <a href="/posts">포스트</a>
        <a href="/users">사용자</a>
        <a href="/static">스태틱</a>
    </div>
    {{{body}}}
</body>
</html>