/* header */
.header{
    height: 120px;
}

/* header Brand Bar */
/* Part. 01 */

.header-brandbar{
    justify-content: space-between;
    align-items: center;
    width: var(--body-width);
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid var(--shadow-color);
}

.header-brandbar h1 a{
    font-size: large;
    color: var(--shadow-color);
}

.header-brandbar h1 .header-brandbar__blind{
    color: var(--shadow-color);
    font-size: small;
    font-weight: 200;

}
.header-brandbar h1 .active{
    font-size: x-large;
    color: var(--black-color);
}

.header-brandbar h1 a:nth-child(1){
    color: black;
    font-size: x-large;
    font-weight: 900;
}

.header-brandbar .header-brandbar__menu{
    display: inline-flex;
}
.header-brandbar .header-brandbar__menu input{
    width: 230px;
    height: 35px;
}

/* Part. 02 */

.header-brandbar__menu .header-brandbar__search{
    border: 1px solid var(--shadow-color);
    border-right: 0px;
    padding: 10px;
}
.header-brandbar__menu a{
    display: block;
    width: 35px;
    height: 35px;
    padding: 8px 20px;
}

.header-brandbar__menu .searchicon{
    border: 1px solid var(--shadow-color);
    border-left: 0px;
}

.header-brandbar__member  span{
    display: block;
    font-size: medium;
    color: var(--dark-shadow);
    margin: 10px 20px;
}





/* header Navigation Bar */
.header-navigation__nav{
    width: var(--body-width);
    height: 60px;
    margin: 0 auto;
    border-bottom: 1px solid var(--shadow-color);
    justify-content: space-between;
    align-items: center;
}
.header-navigation__nav ul{
    padding: 0;
    height: 100%;
}
.header-navigation__nav li{
    display: inline-block;
    height: 100%;
    padding: 0;
    font-weight: 600;
    font-size: large;
    padding: 17px;
}
.header-navigation__nav .active{
    background-color: var(--main-color);
    color: var(--light-color);
}
.header-navigation__nav button{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: var(--light-color);
    background-color: var(--main-color);
    position: relative;
}
.header-navigation__nav button::after{
    content: "N";
    display: block;
    width: 13px;
    height: 13px;
    font-size: xx-small;
    color: var(--light-color);
    background-color: #ff0000;
    border-radius: 50%;
    position: absolute;
    top:5px;
    right: 25px;
}