/* main */
.main{
    flex-direction: column;
    width: var(--body-width);
    margin: auto;
}

.main .active{
    color: var(--main-color);
}

/* dailytoon */

.main-dairytoon{
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
}
.main-dairytoon__title{
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;

}
.main-dairytoon__title p{
    display: inline-block;
    font-size: 20px;
    padding-right: 20px;
}
.main-dairytoon__title a, .main-dairytoon__title span{
    font-size: 16px;
    color: var(--dark-shadow);
    font-weight: 500;

}



.main-dairytoon__list ul.flex{
    justify-content: space-between;
    padding: 0;
}

.main-dairytoon__list ul li{
    list-style-type: none;
}




/* dailytoon list */

.main-dairytoon__list ul li img{
    width: 230px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: var(--img-border);
}

.main-dairytoon__list ul li span:first-child::before{
    content: "UP";
    font-size: 12px;
    color: red;
    border: .5px solid red;
    border-radius: 3px;
    padding: 0 2px;
}

.main-dairytoon__list ul li span:first-child{
    font-weight: 700;
}
.main-dairytoon__list ul li span:nth-child(2){
    display: block;
}


/*     --- Section ---     */
.sub-main{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.sub-main h2{
    font-size: 22px;
    margin: 20px 0;
}

.sub-main h4{
    margin: 10px 0;
}
.sub-main h5{
    font-weight: 400;
}

/* content - toon */
.content-toon{
    width: var(--section-width)
}

/* toon - newest list */
.toon-newest__list .flex{
    padding: 0;
    margin-bottom: 40px;
    justify-content: space-between;

}
.toon-newest__list ul img{
    width: 160;
    height: 207px;
    border: var(--img-border);
    border-radius: 5px;
    margin-bottom: 15px;

}
.toon-newest__list ul li{
    list-style-type: none;
    position: relative;
}

.toon-newest__list ul li p{
    display: flex;
    flex-direction: column;
}


.content-toon span.count{
    font-size:80px;
    position: absolute;
    bottom: 45px;
    left: 5px;
    font-style: italic;
    color: white;
    text-shadow: 0px 5px #000, 5px 0 #000, 0 -5px #000, -5px 0 #000;
}



/* aside */
.side-bar{
    width: var(--aside-width);
}

.side-bar .banner{
    height: 250px;
    border: var(--img-border);
    padding: 15px;
    text-align: center;
    position: relative;
}

.side-bar .banner img{
    width: 270px;
    object-fit: cover;
}

.side-bar .banner span{
    position: absolute;
    top: 17px;
    right: 17px;
    background-color: #ffffff30;
    color: #00000080;
    padding: 0 3px;
    border: 1px solid #00000050;
    border-radius: 5px;

}
.popular__title{
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #00000030;
}

.popular__content ul{
    list-style-type: none;
    padding: 0;
}

.popular__content ul li{
    margin: 15px 0;
    flex-direction: row;
}

.popular__content img {
    width: 60px;
    border-radius: 5px;
}

.popular__content h3 {
    display: block;
    width: 50px;
    padding: 28px 0;
    text-align: center;
}


/* hot list */
/* dailytoon */
/* dailytoon */
/* dailytoon */
/* dailytoon */